## Esercitazione 2
Aprile 2025

In [1]:
import math

# Esercizio 1 

Viene data una una stringa di nomi di città italiane, a cui è stata aggiunta la relativa popolazione, separati da virgole:

```python
cities = "verona,255298|trento,118504|napoli,913704|palermo,630427|bari,316226|firenze,362613"
```

Data la stringa `cities`:

1. Scrivere un programma Python che conta quante città sono presenti nella stringa e restituisce `True` se sono più di 5. Stampare il risultato con un `print`.


2. Scrivere un programma Python che produce una stringa con i nomi di città, separata da uno spazio. Il nome di ogni città deve avere l'iniziale maiuscola. Stampare il risultato con un `print`. 


3. Calcolare la somma della popolazione di tutte le città e stampare il risultato con un  `print`.

In [19]:
cities = "verona,255298|trento,118504|napoli,913704|palermo,630427|bari,316226|firenze,362613"

#calcolo il numero di città
c = cities.split('|')
print(c)
print("Nella lista ci sono più di 5 città?", len(c)>5)
print()

stringa_citta = c[0].split(',')[0].capitalize()+' '+c[1].split(',')[0].capitalize()+' '+c[2].split(',')[0].capitalize()+' '+c[3].split(',')[0].capitalize()+' '+c[4].split(',')[0].capitalize()+' '+c[5].split(',')[0].capitalize()
print(stringa_citta)

print()

pop_tot = int(c[0].split(',')[1])+int(c[1].split(',')[1])+int(c[2].split(',')[1])+int(c[3].split(',')[1])+int(c[4].split(',')[1])+int(c[5].split(',')[1])
print("La popolazione totale è", pop_tot)

['verona,255298', 'trento,118504', 'napoli,913704', 'palermo,630427', 'bari,316226', 'firenze,362613']
Nella lista ci sono più di 5 città? True

Verona Trento Napoli Palermo Bari Firenze

La popolazione totale è 2596772

# Esercizio 2

I voti di una sessione di laurea sono stati riportati in un'unica stringa che contiene i nomi dei candidati e il voto in cifre, separati da punto e virgola: 

```python
voti = "Anna 110;Beatrice 105;Carlo 110;Davide 107;Elena 109"
```

Data la stringa `voti`:

1. Scrivere un programma Python che conta quanti voti sono presenti nella stringa e restituisce `True` se sono più di 4. Stampare il risultato con un `print`.

2. Scrivere un programma Python che produce una stringa con i soli voti di laurea, ma senza nomi, seaparati da una virgola. Stampare il risultato con un `print`. 

2. Calcolare la media dei voti di laurea e stampare il risultato con un  `print`.

In [23]:
voti = "Anna 110;Beatrice 105;Carlo 110;Davide 107;Elena 109"

#scrivi qui di seguito la soluzione 
v = voti.split(';')
print(v)
print("I voti sono più di 4?", len(v)>4)

print()

stringa_voti = v[0].split()[1]+','+v[1].split()[1]+','+v[2].split()[1]+','+v[3].split()[1]+','+v[4].split()[1]
print(stringa_voti)

somma_voti = int(v[0].split()[1])+int(v[1].split()[1])+int(v[2].split()[1])+int(v[3].split()[1])+int(v[4].split()[1])
media = somma_voti/len(v)

print("La media dei voti è", media)

['Anna 110', 'Beatrice 105', 'Carlo 110', 'Davide 107', 'Elena 109']
I voti sono più di 4? True

110,105,110,107,109
108.2

# Esercizio 3

Consideriamo tre stringhe diverse che contengono i versi delle prime 3 terzine dell'Inferno di Dante Alighieri.

Purtroppo le stringhe non sono formattate correttamente. Tutti i caratteri di 'a capo' sono stati sostituiti con il carattere `|`.

Scrivi un programma in Python che:

1. Sostituisce il simbolo `|` in ogni stringa con i simboli di a capo (new line) e salva ogni volta il risultato in una nuova stringa.


2. Unisce le tre stringhe modificate in un'unica stringa completa che rappresenta il testo formattato correttamente. Stampandola, dovrà apparire così:

```
Nel mezzo del cammin di nostra vita
mi ritrovai per una selva oscura,
ché la diritta via era smarrita.

Ahi quanto a dir qual era è cosa dura
esta selva selvaggia e aspra e forte
che nel pensier rinova la paura!

Tant’è amara che poco è più morte;
ma per trattar del ben ch’i’ vi trovai,
dirò de l’altre cose ch’i’ v’ ho scorte.

```

3. Stampa la stringa completa con tutti i caratteri in MAIUSCOLO. 


4. Stampa il numero totale di caratteri (la lunghezza) della stringa completa.

In [6]:
terzina1 = "Nel mezzo del cammin di nostra vita|mi ritrovai per una selva oscura,|ché la diritta via era smarrita.|"

terzina2 = "Ahi quanto a dir qual era è cosa dura|esta selva selvaggia e aspra e forte|che nel pensier rinova la paura!|"

terzina3 = "Tant’è amara che poco è più morte;|ma per trattar del ben ch’i’ vi trovai,|dirò de l’altre cose ch’i’ v’ ho scorte.|"

terzina_a = terzina1.replace('|', '\n')
terzina_b = terzina2.replace('|', '\n')
terzina_c = terzina3.replace('|', '\n')

inferno = terzina_a + '\n' + terzina_b + '\n' + terzina_c
print(inferno)

print()
print(inferno.upper())

print("Il numero totale di caratteri nella stringa completa è", len(inferno))

Nel mezzo del cammin di nostra vita
mi ritrovai per una selva oscura,
ché la diritta via era smarrita.

Ahi quanto a dir qual era è cosa dura
esta selva selvaggia e aspra e forte
che nel pensier rinova la paura!

Tant’è amara che poco è più morte;
ma per trattar del ben ch’i’ vi trovai,
dirò de l’altre cose ch’i’ v’ ho scorte.


NEL MEZZO DEL CAMMIN DI NOSTRA VITA
MI RITROVAI PER UNA SELVA OSCURA,
CHÉ LA DIRITTA VIA ERA SMARRITA.

AHI QUANTO A DIR QUAL ERA È COSA DURA
ESTA SELVA SELVAGGIA E ASPRA E FORTE
CHE NEL PENSIER RINOVA LA PAURA!

TANT’È AMARA CHE POCO È PIÙ MORTE;
MA PER TRATTAR DEL BEN CH’I’ VI TROVAI,
DIRÒ DE L’ALTRE COSE CH’I’ V’ HO SCORTE.

Il numero totale di caratteri nella stringa completa è 329

# Esercizio 4

Ti viene data una lista di interi contenente le età dei partecipanti ad un sondaggio:

```python
ages = [23, 45, 18, 34, 55, 40, 30, 28, 60, 18, 19, 32, 41, 25]
```
1. Aggiungi i seguenti valori di età alla lista: 44, 65. Stampa la lista.


2. Metti in ordine la lista, con i valori ordinati dal più piccolo al più grande. Stampa la lista ordinata.


3. Salva i primi 10 valori della lista ordinata in una nuova lista, `young_ages`, e stampala.


4. Calcola l'età media dei partecipanti, salvala nella variabile `mean_age` e stampala.

In [19]:
ages = [23, 45, 18, 34, 55, 40, 30, 28, 60, 18, 19, 32, 41, 25]

In [20]:
ages1 = [44, 65]
ages.extend(ages1)
print(ages)

[23, 45, 18, 34, 55, 40, 30, 28, 60, 18, 19, 32, 41, 25, 44, 65]

In [13]:
#aggiungo i valori
ages.append(44)
ages.append(65)
print(ages)

[23, 45, 18, 34, 55, 40, 30, 28, 60, 18, 19, 32, 41, 25, 44, 65]

In [14]:
#ordino la lista
ages.sort()
print(ages)

[18, 18, 19, 23, 25, 28, 30, 32, 34, 40, 41, 44, 45, 55, 60, 65]

In [15]:
#salvo i primi 10 valori della lista ordinata in una nuova lista
young_ages  = ages[:10]
print(young_ages)

[18, 18, 19, 23, 25, 28, 30, 32, 34, 40]

In [16]:
#calcolo la media
mean_age = sum(ages)/len(ages)
print("L'età media del campione è:", mean_age)

L'età media del campione è: 36.0625

# Esercizio 5

Vi vengono date due liste contenenti le temperature registrate in due settimane, una di gennaio e una di febbraio 2024, a Trento:

```python
temp_gennaio = [3, 6, -1, -2, 0, 3, 4]
temp_febbraio = [2, 5, 3, 6, 7, 8, 4]
```

1. Scrivi un'espressione booleana che restituisce `True` solo le la temperatura massima di gennaio è **minore** della temperatura minima di febbraio. 


2. Crea una singola lista `temp` che contiene tutte le temperature, di gennaio e febbraio. Stampa la lista con un `print`.


3. Calcola la temperatura media delle due settimane considerate. Stampala con un `print`.

In [23]:
temp_gennaio = [3, 6, -1, -2, 0, 3, 4]
temp_febbraio = [2, 5, 3, 6, 7, 8, 4]


#espressione booleana
cond = max(temp_gennaio) < min(temp_febbraio)
print("La massima temperatura a gennaio è minore della minima di febbraio?", cond)
print()

#lista completa
temp = temp_gennaio + temp_febbraio
print("La lista di tutte le temperature è", temp)
print()

#temperature medie
avg_temp = sum(temp)/len(temp)
print("La temperatura media è", avg_temp)

La massima temperatura a gennaio è minore della minima di febbraio? False

La lista di tutte le temperature è [3, 6, -1, -2, 0, 3, 4, 2, 5, 3, 6, 7, 8, 4]

La temperatura media è 3.4285714285714284

# Esercizio 6


Vi vengono fornite 2 liste contenenti le posizioni GPS misurate tramite smartphone di due persone immaginarie che vivono a Trento. Ogni lista contiene delle tuple, in cui sono salvate latitudine e longitudine di ogni traiettoria. 


```python
gps_id1 = [
    (46.0700, 11.1215), (46.0712, 11.1198), (46.0725, 11.1180), 
    (46.0738, 11.1162), (46.0750, 11.1145), (46.0763, 11.1128),
    (46.0775, 11.1110), (46.0788, 11.1093), (46.0800, 11.1075),
    (46.0813, 11.1058), (46.0825, 11.1040), (46.0838, 11.1023),
    (46.0850, 11.1005), (46.0863, 11.0988), (46.0875, 11.0970)
]

gps_id2 = [
    (46.0600, 11.1300), (46.0612, 11.1285), (46.0625, 11.1270), 
    (46.0638, 11.1255), (46.0650, 11.1240), (46.0663, 11.1225),
    (46.0675, 11.1210), (46.0688, 11.1195), (46.0700, 11.1180),
    (46.0713, 11.1165), (46.0725, 11.1150), (46.0738, 11.1135),
    (46.0750, 11.1120), (46.0763, 11.1105), (46.0775, 11.1090),
    (46.0788, 11.1075), (46.0800, 11.1060), (46.0813, 11.1045),
    (46.0825, 11.1030), (46.0838, 11.1015)
]
```

1. Scrivi un'espressione booleana che restituisce `True` se il numero di punti GPS della lista `gps_id1`  è **maggiore** di quello della lista `gps_id2`.


2. Seleziona le prime `n` posizioni della lista più lunga e salvarle in una nuova lista, in modo che le due liste abbiano lo stesso numero di elementi. Controllare con un'espressione booleana che le due liste abbiano la stessa lunghezza. 


3. Conta quante volte l'individuo numero 2, le cui posizioni sono salvate in `gps_id2`, ha oltrepassato la latitudine Nord `lat = 46.0680976`, corrispondente al Dipartimento di Sociologia e Ricerca Sociale. Stampare il risultato con un `print`.

In [3]:
gps_id1 = [
    (46.0700, 11.1215), (46.0712, 11.1198), (46.0725, 11.1180), 
    (46.0738, 11.1162), (46.0750, 11.1145), (46.0763, 11.1128),
    (46.0775, 11.1110), (46.0788, 11.1093), (46.0800, 11.1075),
    (46.0813, 11.1058), (46.0825, 11.1040), (46.0838, 11.1023),
    (46.0850, 11.1005), (46.0863, 11.0988), (46.0875, 11.0970)
]

gps_id2 = [
    (46.0600, 11.1300), (46.0612, 11.1285), (46.0625, 11.1270), 
    (46.0638, 11.1255), (46.0650, 11.1240), (46.0663, 11.1225),
    (46.0675, 11.1210), (46.0688, 11.1195), (46.0700, 11.1180),
    (46.0713, 11.1165), (46.0725, 11.1150), (46.0738, 11.1135),
    (46.0750, 11.1120), (46.0763, 11.1105), (46.0775, 11.1090),
    (46.0788, 11.1075), (46.0800, 11.1060), (46.0813, 11.1045),
    (46.0825, 11.1030), (46.0838, 11.1015)
]

lat = 46.0680976

#espressione booleana
l1 = len(gps_id1)
l2 = len(gps_id2)
print("La lista GPS id1 ha più punti di GPS id2?", l1>l2)

print()

#selezione dei primi n elementi della lista più lunga
n = l1
gps_id3 = gps_id2[:n]
l3 = len(gps_id3)
print("Le liste gps_id1 e gps_id3 hann la stessa lunghezza?", l1==l3)

print()
#conteggio
n=0
for pos in gps_id2:
    
    lat_pos = pos[0]
    
    if lat_pos > lat:
        n+=1

print("L'individuo 2 ha superato la latitudine lat =", lat, n,"volte")

La lista GPS id1 ha più punti di GPS id2? False

Le liste gps_id1 e gps_id3 hann la stessa lunghezza? True

L'individuo 2 ha superato la latitudine lat = 46.0680976 13 volte

In [4]:
#conteggio
n=0

for i in range(0, len(gps_id2)):
    
    lat_pos = gps_id2[i][0]
    
    if lat_pos > lat:
        n+=1

print("L'individuo 2 ha superato la latitudine lat =", lat, n,"volte")

L'individuo 2 ha superato la latitudine lat = 46.0680976 13 volte